
# Игнорировать виртуальные окружения Python
venv/
venv_wsl/

# Игнорировать модели машинного обучения
**/models/
**/sbert_model/
**/rubert-*

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать временные файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать файлы данных
**/data/raw/
**/data/processed/

# Игнорировать лог-файлы
*.log
*.tmp